body {
  margin: 0;
  background-color: rgb(28, 28, 28);

  font-family: "Lato", sans-serif;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Cinzel", serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 7vw;
}

.nav-links li {
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 2s all ease-in-out;
}
.nav-links a:hover {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.423);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #e0d5d581;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }
  .nav-links.active a {
    color: #000;
    font-weight: bolder;
  }

  .nav-links li {
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}

.tvLogo {
  color: rgb(222, 9, 54);
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  width: auto;
  margin-top: 1%;
  font-family: "Cinzel", serif;
}
.login {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: "Cinzel", serif;
  transition: 2s ease-in-out;
  font-size: 17px;
  font-weight: bold;
}
.login:hover {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.481);
}

.imgAlic {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: self-start;
  z-index: -5;
  width: 100%;
  height: 65vh;
  background-image: url(/assets/images/alicePic.jpg);
  background-size: 100% 100%;
  /* filter: blur(4px); */
}
.cardOnDisplay {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: white;
  height: 30%;
  margin-top: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  margin-right: 20%;
}
.cardOnDisplay .fa-heart {
  display: none;
}
.cardOnDisplay img {
  width: 100%;
  height: 40vh;
}
#showingImgOfMovie {
  display: flex;
  width: 100%;
  height: 58vh;
}
#searchPopular {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#sliderPic {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
#mainPopular {
  width: 100%;
  height: 80vh;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-accelerator: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(94, 94, 94);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: white;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 1em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000;
  color: aliceblue;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25 all ease;
}
.select:hover::after {
  color: rgb(222, 9, 54);
}
#slider {
  width: 80%;
  height: 100%;

  border-radius: 0.25em;
  /* overflow: hidden; */
  gap: 10px;
  display: flex;
}
#slider img {
  width: 10vw;
  height: 16vh;
}

#leftArrow {
  cursor: pointer;
  margin-bottom: 5vh;
  /* margin-right: -7vw; */
}

#rightArrow {
  cursor: pointer;
  margin-bottom: 5vh;
}
.cardSlider {
  width: 20vw;
  height: 10vh;
  color: white;
}
.cardSlider:hover {
  cursor: pointer;
  color: blue;
}
.cardSlider p {
  font-size: 14px;
  font-weight: bold;
}
.cardSlider span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.512);
}
#mainPopular {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.card {
  font-size: 11px;

  width: 17vw;
  cursor: pointer;
  color: white;
}
.card p {
  font-size: 14px;
  font-weight: bold;
}
.card span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.512);
}
.card img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card p:hover {
  color: blue;
}
#footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#footer button {
  border-radius: 100%;
  border: none;
  width: 4vw;
  height: 7vh;
  background-color: rgb(28, 28, 28);
  border: solid 1px rgb(98, 97, 97);
  color: rgb(98, 97, 97);
}
#footer button:hover {
  background-color: rgb(158, 11, 11);
  cursor: pointer;
}
#sliderPic {
  display: flex;
  overflow: hidden;
  width: 85%;
}
.sliderAll {
  display: flex;
  justify-content: first center;
  align-items: center;
}
.divHeart {
  justify-content: space-between;
  align-items: center;
}
.fa-heart:hover {
  color: red;
}
