@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lato:ital,wght@0,100;1,100&family=League+Spartan:wght@700&family=Lexend+Deca&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 7vw;
}

.nav-links li {
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: "Cinzel", serif;
  transition: 2s all ease-in-out;
}
.nav-links a:hover {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.423);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #e0d5d581;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }
  .nav-links.active a {
    color: #000;
    font-weight: bolder;
  }

  .nav-links li {
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
  /* #container .containSearch {

  } */
}

.tvLogo {
  color: rgb(222, 9, 54);
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  width: auto;
  margin-top: 1%;
  font-family: "Cinzel", serif;
}
.login {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: "Cinzel", serif;
  transition: 2s ease-in-out;
  font-size: 17px;
  font-weight: bold;
}
.login:hover {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.481);
}

body {
  height: 100vh;
  background: linear-gradient(#1c1917 50%, rgb(158, 11, 11) 50%);
}
.containSearch {
  font-size: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: #1e293b;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgb(0, 0, 0, 0.2);
}
.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
.search-container input,
.search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}
.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: white;
  padding: 0.7em;
}
.search-container input:focus {
  border-color: #fff;
}
.search-container button {
  background-color: rgb(158, 11, 11);
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  box-shadow: rgba(141, 10, 34, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #c84047 0 -3px 0 inset;
  transform: translateY(-2px);
}
.search-container button:active {
  box-shadow: rgba(141, 10, 34, 0.4) 0 3px 7px inset;
  transform: translateY(2px);
}
#result {
  color: #fff;
}
.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2em;
}
.poster {
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6 0 0.9em 0;
}
.rating img {
  width: 1.2em;
}
.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}
.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6em 0;
  font-weight: 300;
}
.genre {
  display: flex;
  justify-content: space-around;
}
.genre div {
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  font-weight: 300;
}
h3 {
  font-weight: 500;
  margin-top: 1.2em;
}
p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #a0a0a0;
}
.msg {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .search-container {
    font-size: 14px;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
  .info {
    grid-template-columns: 1fr;
  }
}

#actorsDiv {
  display: flex;
  background-color: #c84047;
}
