body {
  margin: 0;
  background-color: rgb(28, 28, 28);

  font-family: "Lato", sans-serif;
  padding: 0;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Cinzel", serif;
  box-sizing: border-box;
  transition: all 0.35s ease;
  z-index: 8;
}
.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 7vw;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}

.nav-links li {
  padding: 0;
}

.nav-links a {
  padding: 0.5em 0.8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.nav-links a::before,
.nav-links a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid rgb(158, 11, 11);
  border-right: 3px solid rgb(158, 11, 11);
  transform: translate(-100%, 50%);
}

.nav-links a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(158, 11, 11);
  border-left: 3px solid rgb(158, 11, 11);
  transform: translate(100%, -50%);
}

.nav-links a:hover:before,
.nav-links a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav-links a:hover {
  color: rgb(222, 9, 54);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  #container .user {
    z-index: 20;
  }
  #footer .btnPages {
    width: 5vw;
    height: 4vh;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #e0d5d581;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }
  .nav-links.active a {
    color: #000;
    font-weight: bolder;
  }

  .nav-links li {
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .mainPopular .card {
    width: 30vw;
  }
  #movieClickDisplay .cardOnDisplay img {
    width: 18vw;
    height: 23vh;
    margin-top: 6vh;
  }
  .sliderAll #leftArrow {
    width: 10vw;
  }
  .sliderAll #rightArrow {
    width: 10vw;
  }
}

.tvLogo {
  color: rgb(222, 9, 54);
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  width: auto;
  margin-top: 1%;
  font-family: "Cinzel", serif;
}
.login {
  padding: 0.5em 0.8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-size: 20px;
}
.login::before,
.login::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.login::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid rgb(158, 11, 11);
  border-right: 3px solid rgb(158, 11, 11);
  transform: translate(-100%, 50%);
}
.login:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(158, 11, 11);
  border-left: 3px solid rgb(158, 11, 11);
  transform: translate(100%, -50%);
}

.login:hover:before,
.login:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.login:hover {
  color: rgb(222, 9, 54);
}

.imgAlic {
  display: flex;
  position: absolute;
  /* justify-content: center; */
  /* gap: 2%; */
  /* align-items: center; */

  width: 100%;
  height: 65vh;
  /* background-image: url(/assets/images/copyAlice.png); */
  /* background-size: 100% 100%; */
  color: white;
}
#movieClickDisplay {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 2%;
  z-index: 6;
  align-items: center;
  width: 100%;
  height: 65vh;
  color: white;
}
#movieClickDisplay p {
  text-align: justify;

  font-weight: bold;
  margin-right: 3vw;
}
.imgAlic img {
  width: 100vw;
  height: 100%;
}

.cardOnDisplay {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  color: white;
}
.cardOnDisplay .fa-heart {
  display: none;
}
.cardOnDisplay img {
  width: 13vw;
  height: 35vh;
}
#showingImgOfMovie {
  display: flex;
  width: 100%;
  height: 58vh;
  background-color: #00000000;
}
#searchPopular {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#sliderPic {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
#mainPopular {
  width: 100%;
  height: 80vh;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-accelerator: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(94, 94, 94);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: white;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 1em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000;
  color: aliceblue;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25 all ease;
}
.select:hover::after {
  color: rgb(222, 9, 54);
}
#slider {
  width: 80%;
  height: 100%;

  border-radius: 0.25em;
  /* overflow: hidden; */
  gap: 10px;
  display: flex;
}
#slider img {
  width: 10vw;
  height: 16vh;
}

#leftArrow {
  cursor: pointer;
  margin-bottom: 5vh;
  /* margin-right: -7vw; */
}

#rightArrow {
  cursor: pointer;
  margin-bottom: 5vh;
}
.cardSlider {
  width: 20vw;
  height: 10vh;
  color: white;
}
.cardSlider:hover {
  cursor: pointer;
  color: blue;
}
.cardSlider p {
  font-size: 14px;
  font-weight: bold;
}
.cardSlider span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.512);
}
#mainPopular {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.card {
  font-size: 11px;

  width: 17vw;
  cursor: pointer;
  color: white;
}
.card p {
  font-size: 14px;
  font-weight: bold;
}
.card span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.512);
}
.card img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card p:hover {
  color: blue;
}
#footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#footer button {
  border-radius: 100%;
  border: none;
  width: 4vw;
  height: 7vh;
  background-color: rgb(28, 28, 28);
  border: solid 1px rgb(98, 97, 97);
  color: rgb(98, 97, 97);
}
#footer button:hover {
  background-color: rgb(158, 11, 11);
  cursor: pointer;
}
#sliderPic {
  display: flex;
  overflow: hidden;
  width: 85%;
}
.sliderAll {
  display: flex;
  justify-content: first center;
  align-items: center;
}
.divHeart {
  justify-content: space-between;
  align-items: center;
}
.fa-heart:hover {
  color: red;
}
